.hero {
    display: flex;
    flex-direction: row;
    margin-block-start: 4rem;
    padding-block: 3rem;
    padding-inline: 2rem;
    background-color: #9DBBF8;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.hero-text {
    width: 40%;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 64px;
}

.hero-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.hero-img {
    margin: 0;
    position: relative;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    box-sizing: inherit;
}

.screen1 {
    transform: rotate(22.5deg);
    margin-top: 46px;
    width: 320px;
}

.screen1 img {
    height: auto;
    max-width: 100%;
    z-index: 0;
}

.screen2 {
    transform: rotate(22.5deg);
    margin-left: -32px;
    width: 320px;
    position: absolute;
    top: 0;
}

.screen2 img {
    max-width: 100%;
    z-index: 0;
}

.hero-button {
    background-color: #fff;
    font-size: 20px;
    line-height: 28px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.hero-button a {
    text-decoration: none;
    color: #2C6BED;
}