<div class="hero">
    <div class="hero-text">
        <h1>Exprimez-vous librement</h1>
        <p class="hero-p">
            Dites « Bonjour » à une expérience de messagerie différente. Un accent inattendu sur la confidentialité et
            la protection des données personnelles, combiné à toutes les fonctions auxquelles vous vous attendez.
        </p>
        <button class="hero-button">
            <a href="#">Obtenir Signal</a>
        </button>
    </div>
    <div class="hero-img">
        <img class="screen1" src="../../assets/images/signal-iphone.png" alt="Signal">
        <img class="screen2" src="../../assets/images/signal-pixel.png" alt="Signal">
    </div>
</div>