<div class="card">
  <div class="box" >
    <!-- Différente façon d'interpoler la valeur -->
    <img [src]=informationBloc.image/>
    <h3>{{ informationBloc.title }}</h3>
    <p>
      {{ informationBloc.paragraph }}
    </p>
    
  </div>
</div>

