
.box {
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    height: 550px;
    max-width: 660px;
    display: block;
    flex-direction: column;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
    border-radius: 16px 16px 16px 16px;
	font-weight: 400;
	letter-spacing: normal;
    text-align: center;
}

img {
    display: inline;
	height: 370px;
	width: 370px;
	max-width: 100%;
}