header {
    z-index: 1;
}

.nav-container {
    background-color: white;
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    position: fixed;
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #0000001d;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1.5rem;    
    margin-inline: 3rem;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}

.icon-twitter {
    width: 17px;
}

.icon-instagram {
    width: 17px;
}

.icon-globe {
    width: 15px;
}

.logo-side {
    justify-self: left;
    margin-inline: 3rem;
}

.brand-logo {
    display: inline;
    height: 50px;
    width: 150px;
}