<header>
  <nav class="nav-container">
      <div class="logo-side">
        <a>
          <img
            class="brand-logo"
            src="../assets/logo.png"
            alt="logo"
            aria-hidden="true"
          />
        </a>
      </div>
      <div class="nav-menu">
        <a href="#">Get Signal</a>
        <a href="#">Help</a>
        <a href="#">Blog</a>
        <a href="#">Developpers</a>
        <a href="#">Careers</a>
        <a href="#">Donate</a>
        <a href="#">
          <img
            src="../../assets/images/icon/twitter.svg"
            class="icon-twitter"
          />
        </a>
        <a href="#">
          <img
            src="../../assets/images/icon/instagram.svg"
            class="icon-instagram"
          />
        </a>
        <a href="#">
          <img
            src="../../assets/images/icon/solid_globe.svg"
            class="icon-globe"
          />
          Français
        </a>
      </div>
  </nav>
</header>
