<main>
  <app-header></app-header>
  <section>
    <app-hero></app-hero>
  </section>
  <section>
    <div class="container">
      <div class="grid">
        <!-- Pour chaque bloc de la liste information bloc, affiche moi 1 informationBloc qui correspond à eachBloc -->
        <app-bloc-info
          *ngFor="let eachBloc of informationBlocList"
          [informationBloc]="eachBloc"
        >
        </app-bloc-info>
      </div>
    </div>
  </section>
  <section class="last-info-container">
      <app-last-information
      *ngFor="let eachInfo of lastInformation"
      [eachLastInformation]="eachInfo"></app-last-information>
  </section>
</main>
