
section {
	background-color: rgb(246, 246, 246);
	display: flex;
	justify-content: center;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
    margin-block: 3rem;
    margin-inline: 0;
}

.container {
    margin: 0;
}

.last-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 2rem;
    padding-block: 2rem;
}