<div class="last-info-card">
  <div class="last-info-text">
    <h2 class="last-info-title">{{ eachLastInformation.title }}</h2>
    <p>
      {{ eachLastInformation.paragraph }}
    </p>
  </div>
  <div class="last-info-img">
    <img [src]="eachLastInformation.image" />
  </div>
</div>
