.last-info-card {
  display: flex;
  flex-direction: row;
  place-items: center;
  background-color: white;
  max-width: 100%;
  gap: 2rem;
}

.last-info-text {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 600px;
}

img {
    display: flex;
    height: 532.594px;
    width: fit-content;
    border-radius: 16px;
}

.last-info-title {
  display: block;
  font-size: 40px;
	font-weight: 800;
	line-height: 44px;
  text-align: start;
}